<div>
  <h2 id="page-heading" data-cy="SimplePermissionHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.home.title">Simple Permissions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-simple-permission"
        [routerLink]="['/simple-permission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.home.createLabel"> Create a new Simple Permission </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="simplePermissions?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.home.notFound">No simplePermissions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="simplePermissions && simplePermissions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.id">Id</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminSimplePermission.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let simplePermission of simplePermissions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/simple-permission', simplePermission.id, 'view']">{{ simplePermission.id }}</a>
          </td>
          <td>{{ simplePermission.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/simple-permission', simplePermission.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/simple-permission', simplePermission.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(simplePermission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
