<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ad">
      <h2 data-cy="adDetailsHeading"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.detail.title">Ad</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.id">Id</span></dt>
        <dd>
          <span>{{ ad.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.url">Url</span></dt>
        <dd>
          <span>{{ ad.url }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.description">Description</span></dt>
        <dd>
          <span>{{ ad.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ad', ad.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
