<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="categories">
      <h2 data-cy="categoriesDetailsHeading">
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCategories.detail.title">Categories</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCategories.id">Id</span></dt>
        <dd>
          <span>{{ categories.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCategories.description">Description</span></dt>
        <dd>
          <span>{{ categories.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/categories', categories.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
