<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="compositePermission">
      <h2 data-cy="compositePermissionDetailsHeading">
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminCompositePermission.detail.title">Composite Permission</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminCompositePermission.id">Id</span></dt>
        <dd>
          <span>{{ compositePermission.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminCompositePermission.description">Description</span></dt>
        <dd>
          <span>{{ compositePermission.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/composite-permission', compositePermission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
