<div>
  <h2 id="page-heading" data-cy="OnHoldHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.home.title">On Holds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-on-hold"
        [routerLink]="['/on-hold/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.home.createLabel"> Create a new On Hold </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="onHolds?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.home.notFound">No onHolds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="onHolds && onHolds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.id">Id</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.description">Description</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerOnHold.enabled">Enabled</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let onHold of onHolds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/on-hold', onHold.id, 'view']">{{ onHold.id }}</a>
          </td>
          <td>{{ onHold.description }}</td>
          <td>{{ onHold.enabled }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/on-hold', onHold.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/on-hold', onHold.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(onHold)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
