<div>
  <h2 id="page-heading" data-cy="AdHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.home.title">Ads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ad"
        [routerLink]="['/ad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.home.createLabel"> Create a new Ad </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ads?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.home.notFound">No ads found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ads && ads.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.id">Id</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.url">Url</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantAd.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ad of ads; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ad', ad.id, 'view']">{{ ad.id }}</a>
          </td>
          <td>{{ ad.url }}</td>
          <td>{{ ad.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ad', ad.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ad', ad.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ad)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
