<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="newOrder">
      <h2 data-cy="newOrderDetailsHeading">
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerNewOrder.detail.title">New Order</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerNewOrder.id">Id</span></dt>
        <dd>
          <span>{{ newOrder.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerNewOrder.description">Description</span></dt>
        <dd>
          <span>{{ newOrder.description }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerNewOrder.enabled">Enabled</span></dt>
        <dd>
          <span>{{ newOrder.enabled }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/new-order', newOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
