<div>
  <h2 id="page-heading" data-cy="CustomerProfileHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.home.title">Customer Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-profile"
        [routerLink]="['/customer-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.home.createLabel">
          Create a new Customer Profile
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerProfiles?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.home.notFound">No customerProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customerProfiles && customerProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.id">Id</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.name">Name</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.location">Location</span></th>
          <th scope="col">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.locationRange">Location Range</span>
          </th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerCustomerProfile.referals">Referals</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerProfile of customerProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-profile', customerProfile.id, 'view']">{{ customerProfile.id }}</a>
          </td>
          <td>{{ customerProfile.name }}</td>
          <td>{{ customerProfile.location }}</td>
          <td>{{ customerProfile.locationRange }}</td>
          <td>{{ customerProfile.referals }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-profile', customerProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-profile', customerProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
