<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.home.title">App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.home.createLabel"> Create a new App User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.home.notFound">No appUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appUsers && appUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.id">Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.description">Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="internalUser.login">
            <span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerAppUser.internalUser">Internal User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appUser of appUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
          </td>
          <td>{{ appUser.name }}</td>
          <td>{{ appUser.description }}</td>
          <td>
            <a *ngIf="appUser.image" (click)="openFile(appUser.image, appUser.imageContentType)">
              <img [src]="'data:' + appUser.imageContentType + ';base64,' + appUser.image" style="max-height: 30px" alt="appUser image" />
            </a>
            <span *ngIf="appUser.image">{{ appUser.imageContentType }}, {{ byteSize(appUser.image) }}</span>
          </td>
          <td>{{ appUser.email }}</td>
          <td>
            {{ appUser.internalUser?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appUsers && appUsers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
