<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notificationType">
      <h2 data-cy="notificationTypeDetailsHeading">
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantNotificationType.detail.title">Notification Type</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantNotificationType.id">Id</span></dt>
        <dd>
          <span>{{ notificationType.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantRestaurantNotificationType.description">Description</span></dt>
        <dd>
          <span>{{ notificationType.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification-type', notificationType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
