<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="close">
      <h2 data-cy="closeDetailsHeading"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerClose.detail.title">Close</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerClose.id">Id</span></dt>
        <dd>
          <span>{{ close.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerClose.description">Description</span></dt>
        <dd>
          <span>{{ close.description }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantGatewayApp.eRestaurantCustomerClose.enabled">Enabled</span></dt>
        <dd>
          <span>{{ close.enabled }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/close', close.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
