<div>
  <h2 id="page-heading" data-cy="AppDiscountHeading">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.home.title">App Discounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-discount"
        [routerLink]="['/app-discount/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.home.createLabel"> Create a new App Discount </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appDiscounts?.length === 0">
    <span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.home.notFound">No appDiscounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appDiscounts && appDiscounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.id">Id</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.code">Code</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.description">Description</span></th>
          <th scope="col"><span jhiTranslate="eRestaurantGatewayApp.eRestaurantAdminAppDiscount.percentage">Percentage</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appDiscount of appDiscounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-discount', appDiscount.id, 'view']">{{ appDiscount.id }}</a>
          </td>
          <td>{{ appDiscount.code }}</td>
          <td>{{ appDiscount.description }}</td>
          <td>{{ appDiscount.percentage }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-discount', appDiscount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-discount', appDiscount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appDiscount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
